.row{
    padding: 20px;
    background-color: antiquewhite;
}
.contenedor{
    width: auto;
     display:inline;
}
.parte1, parte2{
    display:inline;
    text-align: justify;
}
.img-proyecto{
    box-shadow: 10px 10px 30px black;
    
}
