
.row  {
    width: auto;
    margin: 0 auto;
    padding: 20px;
    background: #FAEBD7;
    
}
div {

    text-align: center;
}
/*etiqueta id nombre */
#nombre{
    font-weight: bold;
    margin-top: 40%;
    margin-right: auto;
    
}
/*etiqueta id foto de perfil */

    @media(min-width: 576px){
        #fotodeperfil{
            position: relative;
            width:100rem;
            border-radius: 100%;
            box-shadow:2px 2px 2px black;
            left: 10%;
            top:auto;

        }
      
        
    }
    
    @media(max-width: 576px){
        #fotodeperfil{
            position: absolute;
            width:30%;
            border-radius: 100%;
            box-shadow:2px 2px 2px black;
            left: 33%;
            top:570px;

        }
      
        
    }
