<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/ArgentinaPrograma.png" id="AP">
        </div>
        <div class="redes">
                <b> Seguime en:</b>
                <a href="https://www.instagram.com/doglandingstudios/"> <img class="sociales"  src="../../../assets/Instagram.png"></a>
            <a href="https://www.facebook.com/charles.lander.35/"> <img class="sociales" src="../../../assets/Facebook.png"></a>
            <a href="https://www.linkedin.com/in/carlos-nava-3b364722b/"> <img class="sociales"  src="../../../assets/Linkedin.png" style="width:80px;height:80px;"></a>
            <button type="button" class="btn btn-dark" (click)="login">INGRESO</button>
        </div>
    </div>
</div>

